*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid #eee;
    padding: 10px 10px 20px;

}

header > img {
    width: 34px;
    height: 34px;
    object-fit: cover;
    margin-left: 100px;
}

#topSelect {
    font-size: 0;
    display: inline;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.topBtn {
    height: 43px;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 3px 0.1px #ddd;
}

#topSelect > button:first-child {
    border-radius: 100vh 0px 0px 100vh;
}

#topSelect > button:nth-child(3) {
    border-radius: 0px 100vh 100vh 0px;
    display: inline-flex;
    color: #888;
}

#topSelect > button > img {
    margin-left: 10px;
    background-color: #ff5e5e;
    padding: 7px;
    width: 30px;
    border-radius: 50%;
}

#topSelect > button > img:hover, #topSelect > button {
    cursor: pointer;
}

#topSelect > button {
    align-items: center;
}

#topSelect > button:hover {
    background-color: #f1f1f1;
}

#topInfo {
    display: inline-block;
    margin-top: 12px;
    position: absolute;
    right: 5%;
}

#topInfo * {
    display: inline;
}

#topInfo > img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}